@use "../helpers/" as *;

.badge {
    display: flex;
    padding: fluid(4,2) fluid(14,10) ;
    font-size: rem(16);
    background: 
    linear-gradient(var(--color-dark-10),var(--color-dark-10)) padding-box, 
    var(--gradient) border-box;
    border: rem(1) solid transparent;
    color: var(--color-light);
    border-radius: rem(6);


    @include laptop {
        font-size: rem(14);
        border-radius: rem(4);
    }

}
